/*Main element sizes in percentages inherit from body dimensions set by window size */
div.container{
	height:100%;
	min-height:300px;
	width:100%;
	min-width:450px;
}

nav.navbar-fixed-top{
	width:100%;
	min-width:450px;
	height:9%;
	max-height:200px;	
}

div.row{
	width:100%;
	height:100%;
}


div#can p{
	margin: auto;
	width:18%;
	height:12%;
}

#myCanvas{
	position:relative;
	height:80%;
	width:80%;
}

#navCanvas{
	width:80%;
	height:80%;
}

#content{
	width:100%;
	height:90%;
}

div.col-xs-10, div.col-sm-10, div.col-md-10, div.col-lg-10{
	height:100%;
	width:80%;
}

div.col-xs-2, div.col-sm-2, div.col-md-2, div.col-lg-2{
	height:90%;
	width:20%;
	border:2px dashed red;
}

div#can{
	height:70%;
	width:70%;
}

canvas#myCanvas{
    top:5%;
    
	/*height + width determined by windowDimensions.js */
	min-width:250px;
	border:2px dashed red;
}

canvas#navCanvas{
	position:relative;
	left:20%;
	margin:20%;
	border:2px dashed green;
	min-width:250px;
	min-height:550px;
}

div#absolute, div#sideNav{
	box-shadow:5px 10px 12px 0px #969696;
}

